/****** Formando a primeira seção ********** */

.img_img1{
  background-image: url(/assets/images/Weapon_Redhorn_Stonethresher_2nd.png);
  background-position: center 0vw center 5vh;
}

.img_img2{
  background-image: url(/assets/images/Weapon_Serpent_Spine_2nd.png);
  background-position: center 0vw center 5vh;
}

/****** Formando a segunda seção ********** */


/****** Formando a terceira seção ********** */


/****** FormandoO RODAPE seção ********** */

/****** Aplicando a responsividade com media quary ********** */
@media screen and (min-width: 48.75em){/* 780px = 780 / 16px*/

  .img_img1{
    background-image: url(/assets/images/Weapon_Redhorn_Stonethresher_Wish.png);
    background-position: top -5vw left 3vw;
    background-size: 25vw auto;
  }
  
  .img_img2{
    background-image: url(/assets/images/Weapon_Serpent_Spine_Wish.png);
    background-position: top -4vw left 2vw;
    background-size: 24vw auto;
  }

}