.home{
  visibility: hidden;
  height: 4.5em;
}

.region{
  width: 95vw;
  height: 95vw;
  margin-left: -47.5vw;
  left: 50%;
  position: absolute;
  margin-top: 27.5vh;
}

.region img{
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 5vh;
  width: 100%;
  height: auto;
  opacity: 0.6;
  z-index: -10;
}

header div h1{
  text-align: center;
  font-weight: normal;
  font-size: 11.5vw;
}

header div h2{
  text-align: center;
  margin-bottom: -5.35vw;
  font-weight: normal;
  font-size: 6.4vw;
  padding-top: 42vw;
}

body{
  background-image: url(/assets/images/abyss.png);
  background-position: left 51% top calc(9vh - 3vw);
  background-size: calc(160vh + 90vw);
}

/****** Formando a primeira seção ********** */

[class^=wepbg]{/*Pegando todas aspan que tem atribuito class e inicia com charbg*/
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 4.5em);
  scroll-snap-align: end;
  background-repeat: no-repeat;
}

[class^=img_]{
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5vh;
  height: 36vw;
  width: 36vw;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 3px white;
}

.weptxt{
  float: left;
  width: 100vw;
  height: calc(94vh - 4.5em);
  width: 90vw;
  margin-top: 3vh;
  margin-left: 5vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.wepname{
  padding-top: 1.5vh;
  font-family: 'GenshinFont';
  font-size: 7.5vw;
  overflow: hidden;
  font-weight: normal;
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 50vw;
  text-align: center;
}

.passive{
  font-family: 'GenshinFont';
  font-size: 2.4vh;
  font-weight: normal;
  margin-top: 2vw;
}

[class^=justifytxt]{/*Pegando todas aspan que tem atribuito class e inicia com icon*/
  text-align: justify;
  font-family: Verdana;
  font-weight: lighter;
  font-size: 0.9em;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 0vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  line-height: 5.4vw;
  color: white;
  max-height: calc(110vh - 155vw);
  overflow: auto;
}

table{
  font-family: Verdana;
  font-size: 0.8em;
  border: solid 2px white;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 60vw;
  table-layout:fixed;
}

table tr th{
  padding: 0.6em;
  padding-top: 1.1em;
  padding-bottom: 1em;
  margin: 0;
  width: 12vw;
}

table tr th:not(.num){
  width: 20vw;
}

table tr:nth-child(1) th:nth-child(even){
  background-color: rgba(0, 0, 0, 0.2);
}

table tr:nth-child(2) th:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.2);
}

/****** Aplicando a responsividade com media quary ********** */
@media screen and (min-width: 48.75em){/* 780px = 780 / 16px*/

  .center{
    margin-left: 30vw;
    width: 51vw;
  }

  .home{
    position: absolute;
  }

  body{
    background-position: left 50% top 0;
    background-size: cover;
  }

  .region{
    width: 95vh;
    height: 95vh;
    margin-left: calc((100vw - 95vh) / 2);
    left: 0%;
    margin-top: 2.5vh;
  }

  .region img{
    padding-top: 5.5vh;
  }

  header div h1{
    font-size: 11vh;
  }

  header div h2{
    margin-bottom: -5vh;
    font-size: 6.2vh;
    padding-top: 35vh;
  }
 
  [class^=wepbg]{/*Pegando todas aspan que tem atribuito class e inicia com charbg*/
    width: calc(100vw - 4.5em);
    margin-left: 4.5em;
    height: 100vh;
  }
  
  [class^=img_]{
    float: left;
    margin-top: -12vw;
    margin-left: 2vw;
    height: 41vw;
    width: 25vw;
    border: none;
  }
  
  .weptxt{
    float: left;
    height: 90vh;
    width: calc(90vw - 5.5em);
    margin-left: 5vw;
    margin-top: 5vh;
    background-color: rgba(20, 19, 33, 0.4);
  }

  
  .wepname{
    padding-top: 4vh;
    font-family: 'GenshinFont';
    font-size: 2.85vw;
    font-weight: normal;
    margin-top: 4vh;
    width: max-content;
  }
  
  .passive{
    font-family: 'GenshinFont';
    font-size: 2.4vh;
    font-weight: normal;
    margin-top: 2vw;
  }
  
  [class^=justifytxt]{/*Pegando todas aspan que tem atribuito class e inicia com icon*/
    text-align: justify;
    font-family: Verdana;
    font-weight: lighter;
    font-size: 0.9em;
    max-width: calc(55vw - 10vh);
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
    margin-bottom: 3vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    line-height: 2vw;
    color: white;
    max-height: max-content;
    overflow: auto;
  }
  
  table{
    font-family: Verdana;
    font-size: 0.8em;
    border: solid 2px white;
    margin-top: 8vh;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: max-content;
  }
  
  table tr th{
    padding: 0.5vw;
    padding-top: 1.2vw;
    padding-bottom: 1.1vw;
    margin: 0;
    width: 5vw;
  }
  
  table tr th:not(.num){
    width: 9vw;
  }
  
  table tr:nth-child(1) th:nth-child(even){
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  table tr:nth-child(2) th:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.3);
  }

}