html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*{
    margin: 0%;
    font-size: 16px;
    margin: 0%;
}

body{
    background-color: lightgrey;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?cs=srgb&dl=pexels-ylanite-koppens-796602.jpg&fm=jpg");
    height: 80vh;
    background-size: cover;
    background-position: bottom;
}

header div ul{
    float: right;
    text-transform: uppercase;
    margin-top: 2.5vh;
    margin-right: 6vh;
}

header div ul li{
    display: inline-block;
    border: 0.3vh white;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}

header div ul li a{
    text-decoration: none;
    color: white;
}

h1{
    margin-left: 6.25vw;
    overflow: wrap;
    max-width: 87.5vw;
    padding-top: 35vh;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    text-shadow: 0.2vh 0.2vh 0.5vh white;
}

.subtitle{
    margin-top: 10vh;
    color: white;
    max-width: fit-content;
    padding: 1.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.4vh solid white;
}

.apps{
    background-color: white;
    margin: 2.5vh;
    height: 30vw;
    width: 79vw;
    margin-left: auto;
    margin-right: auto;
}

.img1{
    height: 88%;
    background-image: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.img2{
    height: 88%;
    background-image: url("https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.img3{
    height: 88%;
    background-image: url("https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.apptxt{
    width: 100%;
    height: 12%;
    color: white;
    background-color: dimgray;
}

.paddingtxt{
    padding-left: 3.5%;
    padding-top: 1.1vw;
    font-size: 1.2vw;
}

.appmargin{
    width: 32%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: -0.5%;
    margin-bottom: 1%;
    height: 95%;
    padding-bottom: 1vw;
    display: inline-block;
}

.textblock{
    background-color: white;
    margin-top: 2.5vh;
    padding: 1vw;
    width: 77vw;
    margin-left: 10vw;
}

.text1{
    width: 75.4vw;
    padding: 0.8vw;
    padding-bottom: 0.6vw;
    color: black;
    background-color: rgba(211, 211, 211, 0.585);
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 0.4vh solid dimgray;
}

.text2{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

footer{
    background-color: dimgray;
    margin-top: 2.5vh;
    color: white;
    text-shadow: 0.2vh 0.2vh 0.5vh black;
    padding: 4vh;
    text-align: center;
    height: 3vh;
}

@media screen and (max-width: 48.75em){
    header{
        background-image: url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?cs=srgb&dl=pexels-ylanite-koppens-796602.jpg&fm=jpg");
        height: 90vh;
        background-size: cover;
        background-position-x: right;
        margin-top: 0vh;
        padding-top: 0.1vh;
    }
    
    header div ul{
        margin-top: 0vh;
        display: contents;
    }
    
    header div ul li{
        margin-top: 6vh;
        margin-bottom: -5.75vh;
        margin-left: 10vw;
        max-width: 80vw;
        display: block;
        padding-left: 0vw;
        padding-right: 0vw;
        text-align: center;
    }
    
    header div ul li a{
        text-decoration: none;
        color: white;
    }

    h1{
        margin-top: -23vh;
        margin-left: 6.25vw;
        overflow: wrap;
        max-width: 87.5vw;
    }

    .subtitle{
        color: white;
        max-width: fit-content;
        margin-top: 12.5vh;
        padding: 1.5vh;
        padding-left: 1.5vh;
        padding-right: 1.5vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .apps{
        height: fit-content;
        width: 75%;
        background: none;
    }

    .apptxt{
        height: 15%;
    }

    .paddingtxt{
        padding-top: 4%;
        font-size: 4vw;
    }
    
    .appmargin{
        width: 90%;
        margin-right: 0%;
        margin-bottom: 1.5%;
        margin-top: 6%;
        margin-left: -1.5%;
        padding-bottom: 1.5vw;
        height: 68vw;
        display: inline-block;
        border: 4.5vw solid white;
    }

    .textblock{
        margin-top: 5.5vh;
        margin-left: 0vh;
        width: 98vw;
        margin-bottom: 5vh;
    }
    
    .text1{
        text-align: center;
        width: 90.5vw;
        margin-top: 1.5vh;
        margin-left: 1.75vw;
        padding-bottom: 0.6vw;
    }
    
    .text2{
        margin-top: 2vh;
        margin-left: 5vw;
        margin-bottom: 2vh;
    }
}
