/****** Formando a primeira seção ********** */

.img_polarstar{
  background-image: url(/assets/images/Weapon_Polar_Star_2nd.png);
  background-position: center 0vw center 5vh;
}

.img_thunderingpulse{
  background-image: url(/assets/images/Weapon_Thundering_Pulse_2nd.png);
  background-position: center 0vw center 5vh;
}

/****** Formando a segunda seção ********** */


/****** Formando a terceira seção ********** */


/****** FormandoO RODAPE seção ********** */

/****** Aplicando a responsividade com media quary ********** */
@media screen and (min-width: 48.75em){/* 780px = 780 / 16px*/

  .img_polarstar{
    background-image: url(/assets/images/Weapon_Polar_Star_Wish.png);
    background-position: top -5vw left 5vh;
    background-size: 25vw auto;
  }
  
  .img_thunderingpulse{
    background-image: url(/assets/images/Weapon_Thundering_Pulse_Wish.png);
    background-position: top -1vw left 18vh;
    background-size: 25vw auto;
  }

}